ul li {
    list-style-type: none;
}

/* The list_box */
.list_box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.list_box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
}

/* On mouse-over, add a grey background color */


/* When the checkbox is checked, add a blue background */
.list_box:hover input~.checkmark,
.list_box input:checked~.checkmark {
    background-color: hsla(0, 0%, 50.2%, .2);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.list_box input:checked~.checkmark:after,
.list_box input:hover~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.list_box .checkmark:after {

    left: 4px;
    top: 5px;
    width: 6px;
    height: 3px;
    border: .9px solid grey;
    border-top: none;
    border-right: none;

    position: absolute;
    transform: rotate(-45deg);
}